
.bg-container {
    background-color: #1897f2;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    font-size: 17px;
}

.heading1 {
    text-align: center;
    color: #faf7f8;
    padding-top: 10px;
}

.button1 {
    background-color: #2da3f7;
    width: 70px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.heading2 {
    color: #faf7f8;
}